body{
	text-align:center;
	font-family: "VINERITC";
	src: url('C:\xampp\htdocs\project');
}
header{
background-color:#020203;
width:100%;
height:110px;
position:fixed;
text-align: right;
line-height: 90px;
background-image:url("images/p.jpg");
background-position: left;
background-repeat: no-repeat;
font-size: 22px;
font-style: italic; 
font-family: 'PT Sans Narrow';
}

h1 {
    font: 50px/60px Helvetica, monospace;
    text-align: center;
}

.p3{	
	position:fixed;
	top:90px;
	height:35px;
	width: 100%;
	text-align: right;
	font:Helvetica, monospace;
	background-color: #585858;
	//background-color:white;
	line-height: 28px;
	font-style: oblique;
	
}

.sub-menu
{
	display:block;
    clear:both;
}
.banner{
	position:relative;
	width:100%;
	height:500px;
	top:130px;
	background: url("images/sss2.jpg");
	//background-color: white;
	background-repeat: no-repeat;
	-webkit-animation-duration:3s;
	/*-webkit-animation-delay:1s;
	-webkit-animation-iteration-count:infinite;*/

}
.content{
		position:absolute;
		width:100%;
		height:300px;
		top:510px;
	background-color:#D8D8D8;
	font : "verdana";
	font-size: 20px;
	color: #008080;
	font-style: oblique;
	-webkit-animation-duration:3s;	
}
.first{
	position:relative;
	background-image:url("images/exterior.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-color:#D8D8D8;
}
.second{
	position:relative;
	background-image:url("images/nn.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#FFFFFF;
}
.third{
		position:relative;
	background-image:url("images/interior.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;

}
.fourth{
	position:relative;
	background-image:url("images/oz.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#FFFFFF;
}

.fifth{
	position:relative;
	background-image:url("images/ac.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.sixth{
	position:relative;
	background-image:url("images/op.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.seven{
	position:relative;
	background-image:url("images/lm.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.eight{
	position:relative;
	background-image:url("images/vv.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.nine{
	position:relative;
	background-image:url("images/lp.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.ten{
	position:relative;
	background-image:url("images/pest.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.eleven{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.twelve{
	position:relative;
	background-image:url("images/glass.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.thirteen{
	position:relative;
	background-image:url("images/mk.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.forteen{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.fifteen{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.sixteen{
	position:relative;
	background-image:url("images/glass.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.photo{
	background-image:url("images/car.jpg");


}