body{
	margin: 0; padding: 0; border: 0;
}

#screen{

width:100%;
height:110px;
position:fixed;
text-align:right; 
z-index: 10;
background:url("images/p.jpg");
font-size: 20px;
background-repeat: no-repeat;
line-height: 100px;
background-color: red;
}



#tile{

	height: 50px;
	background-color: gray;
	background-size: cover;
	width: 100%;
	position: fixed;
	top: 110px;
	font-size: 20px;
	text-align: right;
	line-height: 40px;
	
}
a{
	text-decoration: none;
}

.first{
	position:relative;
	background-image:url("images/exterior.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-color:#D8D8D8;
}
.second{
	position:relative;
	background-image:url("images/nn.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#FFFFFF;
}
.third{
		position:relative;
	background-image:url("images/interior.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;

}
.fourth{
	position:relative;
	background-image:url("images/oz.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#FFFFFF;
}

.fifth{
	position:relative;
	background-image:url("images/ac.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.sixth{
	position:relative;
	background-image:url("images/op.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.seven{
	position:relative;
	background-image:url("images/lm.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.eight{
	position:relative;
	background-image:url("images/vv.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.nine{
	position:relative;
	background-image:url("images/lp.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.ten{
	position:relative;
	background-image:url("images/pest.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.eleven{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.twelve{
	position:relative;
	background-image:url("images/glass.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.thirteen{
	position:relative;
	background-image:url("images/mk.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.forteen{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}
.fifteen{
	position:relative;
	background-image:url("images/ultra.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#D8D8D8;
}
.sixteen{
	position:relative;
	background-image:url("images/glass.jpg");
	background-repeat: no-repeat;
	background-position:right;
	background-color:#ffffff;
}



#banner .slide {
			
			position: absolute;
			top: 150px;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			text-align: center;
			background: rgba(0,0,0,0.8);
			overflow: hidden;
			
		}
@-webkit-keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img1 {
0% {opacity: 0;}
10% {opacity: 1;}
20% {opacity: 1;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

.img1 {
		animation: img1 10s infinite;
		-o-animation: img1 10s infinite;
		-moz-animation: img1 10s infinite;
		-webkit-animation: img1 10s infinite;
		max-height: 400px;
  width: 100%;
	}

	.img2 {
		animation: img2 10s infinite;
		-o-animation: img2 10s infinite;
		-moz-animation: img2 10s infinite;
		-webkit-animation: img2 10s infinite;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	  max-height: 400px;
	  width: 100%;
		
	}

	.img3 {
		animation: img3 10s infinite;
		-o-animation: img3 10s infinite;
		-moz-animation: img3 10s infinite;
		-webkit-animation: img3 10s infinite;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 400px;
  width: 100%;
		
	}

	.img4 {
		animation: img4 10s infinite;
		-o-animation: img4 10s infinite;
		-moz-animation: img4 10s infinite;
		-webkit-animation: img4 10s infinite;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 400px;
  width: 100%;
		
	}

	.img5 {
		animation: img5 10s infinite;
		-o-animation: img5 10s infinite;
		-moz-animation: img5 10s infinite;
		-webkit-animation: img5 10s infinite;
		-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
max-height: 400px;
  width: 100%;
	}

/* keyframing */

@-webkit-keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img2 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 1;}
40% {opacity: 1;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img3 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 1;}
60% {opacity: 1;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-moz-keyframes img4 {
0% {opacity: 0;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 1;}
80% {opacity: 1;}
90% {opacity: 0;}
100% {opacity: 0;}
}

@-webkit-keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

@-moz-keyframes img5 {
0% {opacity: 1;}
10% {opacity: 0;}
20% {opacity: 0;}
30% {opacity: 0;}
40% {opacity: 0;}
50% {opacity: 0;}
60% {opacity: 0;}
70% {opacity: 0;}
80% {opacity: 0;}
90% {opacity: 1;}
100% {opacity: 1;}
}

.next{
	position:relative;
	top:500px;
	width: 100%;
	height: 100%;

}


